*{
    box-sizing: border-box;
}

/* all rounder */

.wrap{
    background-color: white;
    padding: 50px 80px;
    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

body{
    background-color: rgb(142, 177, 138);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(48, 68, 46);
}

.h1{
    font-size: 40px;
}

.h2{
    font-size: 38px;
}

.btn-action{
    text-decoration: none; 
    background-color: rgb(48, 68, 46); 
    color: white; 
    padding: 6px 10px; 
    border-radius: 5px; 
}

.btn-edit{
    text-decoration: none; 
    background-color:rgb(160, 140, 50); 
    color: white; 
    padding: 6px 10px; 
    border-radius: 5px; 
}

.btn-hapus{
    text-decoration: none; 
    background-color: rgb(120, 50, 50); 
    color: white; 
    padding: 6px 10px; 
    border-radius: 5px;
}

.input{
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid rgb(214, 214, 214);
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
}

/* bagian login */

.greet-welcome{
    color: rgb(48, 68, 46);
    font-size: 60px;
    margin-bottom: 30px;
}

.wrap-login{
    text-align: center;
}

.wrap-login h1{
    margin: 5px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}


.wrap-fomlog{
    width: 100%;
    max-width: 400px;
    padding: 35px 30px; 
    text-align: center;
    border-radius: 20px;
    background-color: white;
    color: rgb(48, 68, 46);
    margin: 0 auto;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.wrap-fomlog h2{
    margin: 0;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}


.wrap-fomlog input{
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 0px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}

.btn-login{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: rgb(48, 68, 46);
    color: white;
    cursor: pointer;
}

.wrap-fomlog button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* bagian form laporan */

.wrap-formlap{
    background-color: white;
    padding: 50px 80px;
    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.wrap-formlap h2{
    text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.wrap-formlap input, select, textarea{
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid rgb(214, 214, 214);
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
}   

.btn{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2)
}

.btn-kirim{
    background-color: rgb(48, 68, 46);
    border: none;
}

.btn-kembali{
    background-color: rgb(90, 90, 90);
}

/* bagian ganti password */

.wrap-gapass{
    width: 100%;
    max-width: 400px;
    padding: 35px 30px; 
    text-align: center;
    border-radius: 20px;
    background-color: white;
    color: rgb(48, 68, 46);
    margin: 0 auto;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.wrap-gapass input{
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid rgb(214, 214, 214);
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
}


